<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.forceupgrade">

    <application>

        <activity android:name=".ui.forceupgrade.ForceUpgradeActivity"
            android:exported="false"
            android:theme="@style/Translucent" />

    </application>

</manifest>