<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.statistics">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>

        <activity
            android:name=".ui.weekend.WeekendActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />



        <activity
            android:name=".ui.race.RaceActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />


        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.circuit.CircuitActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.overview.constructor.ConstructorActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.overview.driver.DriverActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <!-- Boot Receiver -->

        <receiver
            android:name=".receivers.UpNextNotificationBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Widgets -->

        <receiver
            android:name=".widgets.UpNextWidgetProvider"
            android:exported="true"
            android:label="@string/widget_up_next_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_up_next" />
        </receiver>

    </application>
</manifest>