<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.stats">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>

        <activity android:name=".ui.weekend.WeekendActivity"
            android:exported="false" />

        <activity android:name=".ui.search.SearchActivity"
            android:exported="false" />

    </application>
</manifest>