<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name=".presentation.SandboxActivity"
            android:exported="false" />

        <activity android:name=".presentation.styleguide.StyleGuideComposeActivity"
            android:exported="false" />

        <activity android:name=".presentation.adverts.AdvertsActivity"
            android:exported="false" />

    </application>

</manifest>