<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:name=".FlashbackApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FlashbackAppTheme">

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/brand_primary" />

        <activity
            android:name=".ui.dashboard.HomeActivity"
            android:exported="true"
            android:theme="@style/Launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SyncActivity"
            android:label="" />

        <activity
            android:name=".statistics.ui.race.RaceActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.search.SearchActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.circuit.CircuitInfoActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.settings.SettingsAllActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.overview.driver.DriverActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.overview.driver.season.DriverSeasonActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.overview.constructor.ConstructorActivity"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".statistics.ui.admin.maintenance.MaintenanceActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/Translucent" />

        <activity
            android:name="tmg.aboutthisapp.AboutThisAppActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/Translucent" />

        <activity
            android:name=".rss.ui.RSSActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".rss.ui.settings.RSSSettingsActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <!-- Widgets -->

        <receiver
            android:name=".upnext.widgets.UpNextWidgetProvider"
            android:label="@string/widget_up_next_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_up_next" />
        </receiver>

    </application>

</manifest>