<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tmg.flashback.FlashbackApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <activity
            android:name="tmg.flashback.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".race.RaceActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".circuit.CircuitInfoActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".news.NewsActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".settings.release.ReleaseActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".settings.news.SettingsNewsActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".driver.DriverActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".driver.season.DriverSeasonActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".admin.lockout.LockoutActivity"
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name="tmg.components.about.AboutThisAppActivity"
            android:screenOrientation="portrait"
            android:label="" />

    </application>

</manifest>