<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="tmg.flashback.FlashbackApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <activity android:name="tmg.flashback.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tmg.flashback.onboarding.OnboardingActivity" />

        <activity android:name="tmg.flashback.settings.SettingsActivity" />

        <activity android:name="tmg.flashback.settings.release.ReleaseActivity" />

        <activity
            android:name=".admin.lockout.LockoutActivity"
            android:label="@string/app_lockout_title" />

        <activity android:name="tmg.flashback.home.swiping.HomeSwipingActivity" />

        <activity android:name="tmg.flashback.home.static.HomeStaticActivity" />

        <activity
            android:name="tmg.components.about.AboutThisAppActivity"
            android:label="" />

    </application>

</manifest>