<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.settings">

    <application>

        <activity android:name=".ui.privacypolicy.PrivacyPolicyActivity"
            android:exported="false" />

        <activity android:name=".ui.settings.appearance.SettingsAppearanceActivity"
            android:exported="false" />

        <activity android:name=".ui.settings.support.SettingsSupportActivity"
            android:exported="false" />

    </application>

</manifest>