<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.settings">

    <application>

        <activity android:name="tmg.flashback.settings.ui.privacypolicy.PrivacyPolicyActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/Translucent" />

    </application>

</manifest>