<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmg.flashback.rss">

    <application>

        <activity
            android:name=".ui.RSSActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.settings.RSSSettingsActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />

        <activity
            android:name=".ui.settings.configure.RSSConfigureActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Translucent" />



    </application>
</manifest>