name: Main
'on':
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.yml'
      - 'releases.json'
jobs:

  json_checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v1
        with:
          pattern: "\\.json$"

  unit_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      # Checkout
      - uses: actions/checkout@v2

      # Caching gradle
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Running unit tests
      - name: Unit tests
        run: ./gradlew testDebugUnitTest :app:testSandDebugUnitTest

      # Publish test report
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          report_paths: '**/build/test-results/**/TEST-*.xml'
        
  discord_notify:
    runs-on: ubuntu-latest
    needs: unit_tests
    if: failure()
    steps:
      - name: Notify discord of failure
        uses: sarisia/actions-status-discord@v1
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          title: "Main branch has failing tests"
          color: 0xff91a4
